<!--Header-->
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: black">
  <img class="ml-3 mr-2" src="assets/image/logoNavbar.png" width=8%/>
  <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color: black">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item link-1 px-lg-3">
        <a class="nav-link" style="color: #fff028;" [routerLink]="'/'"><h5>Home</h5></a>
      </li>
      <li class="nav-item link-1 px-lg-3">
        <a class="nav-link" style="color: #fff028;" href="#"><h5>Customer</h5></a>
      </li>
      <li class="nav-item link-1 px-lg-3">
        <a class="nav-link" style="color: #fff028;" [routerLink]="'/employee/list'"><h5>Employee</h5></a>
      </li>
      <li class="nav-item link-1 px-lg-3">
        <a class="nav-link" style="color: #fff028;" [routerLink]="'/services/list-services'"><h5>Service</h5></a>
      </li>
      <li class="nav-item link-1 px-lg-3">
        <a class="nav-link" style="color: #fff028;" href="#"><h5>Statistical</h5></a>
      </li>
      <li class="nav-item link-1 px-lg-3">
        <a class="nav-link" style="color: #fff028;" [routerLink]="'/computer-list'"><h5>Computer</h5></a>
      </li>
      <li class="nav-item link-1 px-lg-3">
        <a class="nav-link" style="color: #fff028;" href="#"><h5>Payment</h5></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn  btn-warning mr-3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-person-check" viewBox="0 0 16 16">
          <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          <path fill-rule="evenodd"
                d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
        </svg>
        <span>Login</span>
      </button>
      <button class="btn  btn-warning mr-3 ">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-person-plus" viewBox="0 0 16 16">
          <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
          <path fill-rule="evenodd"
                d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
        <span>Register</span>
      </button>
    </form>
  </div>
</nav>
